h1.page-title,
h2.home{
  display:none;
}
#flow.name,
#internal.name {
  display:none;
}

h4.name>.type-name::before {
  content: 'flow.';
  color: #aaa;
  font-weight: normal;
}

.type-attrib{
  display: none;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin:1em;
}

figure > figcaption {
  vertical-align: top;
}

figcaption > pre {
  margin: 10px;

}
figcaption{
  background-color: rgba(31, 141, 214, 0.03);
  padding: 7px 7px 7px 10px;
  -moz-box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  -webkit-box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  margin: 20px 0 20px 0;
}

code.hljs{
background-color: transparent;
}

figure >.example{
  flex-grow: 1;
}

.example svg{
  display: block;
  margin: 0 auto;
}

svg .text-bg{
  fill: #F8F8F8;
}
