h1.page-title,
h2.home{
  display:none;
}
#flow.name {
  display:none;
}

h4.name::before {
  content: 'flow.';
  color: #aaa;
  font-weight: normal;
}

.type-attrib{
  display: none;
}

figure {
  white-space: nowrap;
  background: #f8f8f8;
  margin:1em;
}
figure > figcaption {
  width: 50%;
  display: inline-block;
  min-height: 200px;
  vertical-align: top;
}

figcaption > pre {
  margin: 10px;
}

figure >.example{
  display: inline-block;
  width: 50%;
}
