h1.page-title,
h2.home{
  display:none;
}
#flow.name,
#internal.name {
  display:none;
}

h4.name>.type-name::before {
  content: 'flow.';
  color: #aaa;
  font-weight: normal;
}

.type-attrib{
  display: none;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin:1em;
}

figure > figcaption {
  vertical-align: top;
}

figcaption > pre {
  margin: 10px;

}
figcaption{
  background-color: rgba(31, 141, 214, 0.03);
  padding: 7px 7px 7px 10px;
  -moz-box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  -webkit-box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  box-shadow: 3px 3px rgba(31, 141, 214, 0.05);
  margin: 20px 0 20px 0;
}

code.hljs{
background-color: transparent;
}

figure >.example{
  flex-grow: 1;
}

.example svg{
  display: block;
  margin: 0 auto;
}

svg .text-bg{
  fill: #F8F8F8;
}

.project-name:before {
  background-image: url("/docs/logo.svg");
  background-repeat: no-repeat;
  padding-left: 50px;
  content: '';
  vertical-align: middle;
  background-size: contain;
  background-position: right;
}

.project-tagline {
  margin: 0 0 0 65px;
}

.project-version{
  float: right;
}

.btn {
  padding: 0.75rem 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}
/**
 *  mobile
 */
@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }
  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0;
  }
}
