<?js
    var data = obj;
    var self = this;

    data.demo.forEach(function(demo) {
      var guid = ("e"+Math.random()).replace('.','')
      if (demo.caption) {?>
        <p class="code-caption"><?js= demo.caption ?></p>
      <?js } ?>
      <figure class="<?js=guid?>"><?js=guid?></figure>
      <script type="text/javascript" class="nocode">
        (function(){
          var guid = '.<?js=guid?>'
          var e = document.querySelector(guid)
          console.log(e)
        })()
      </script>
      <pre class="prettyprint"><code><?js= self.htmlsafe(demo.code) ?></code></pre>
<?js
    });
?>
