<?js
  var data = obj;
  var self = this;
  var guid = ("e"+Math.random()).replace('.','')
?>

<figure>
  <figcaption>
    <pre><code class="hljs js"><?js= this.htmlsafe(obj) ?></code></pre>
  </figcaption>
  <div class="example <?js=guid?>"></div>
</figure>
<script type="text/javascript">
  (function(){
    var guid = '.<?js=guid?>'
    var e = d3.select(guid)
    var f = nflow.create('nflow').parent(null)
    var padding = 10
    var tree =  nflowVis.Vis(null)
      .call(nflowVis.Tree)
      .on('updated', function(){
          var bb = e.select('.tree').node().getBBox()
          e.select('svg').style('height', bb.y+bb.height+padding+'px')
          e.select('svg').style('width', bb.x+bb.width+padding+'px')
      })

    tree.emit('track', f)
    tree.emit('dom', e.node())
    tree.emit('show-events', true)
    tree.emit('dragging', false)
    var runExample = function(nflow){
      <?js= obj ?>
    }
  runExample(f)
  })()
</script>
