<?js
  let data = obj;
  let self = this;
  let guid = ("e"+Math.random()).replace('.','')

  // code to show:

  let compactObj = this.extractTag(data, 'hide', o => '')
  compactObj = this.extractTag(compactObj, 'show', o => o)

  // code to run:
  let fullObj = data
  fullObj = this.extractTag(fullObj, 'hide', o => o)
  fullObj = this.extractTag(fullObj, 'show', o => '')
?>

<figure>
  <figcaption>
    <pre><code class="hljs js"><?js= this.htmlsafe(compactObj) ?></code></pre>
  </figcaption>
  <div class="example <?js=guid?>"></div>
</figure>
<script type="text/babel">
  (function(){
    var guid = '.<?js=guid?>'
    var e = d3.select(guid)
    var f = nflow.create('nflow').parent(null)
    var padding = 20

    var tree =  nflowVis.Vis(null)
      .call(nflowVis.Tree)

    tree.emit('track', f)
    tree.emit('dom', e.node())
    tree.emit('show-events', true)
    tree.emit('dragging', false)
    var runExample = function(nflow){
      var noop = function(){}
      var callback = noop

      <?js= fullObj ?>
    }
    runExample(f)
  })()
</script>
