<h1 class="project-name">
  <a href="/">nflow</a>
</h1>
<h2 class="project-tagline">Event/control/data flow</h2>
<nav>
  <a href="/getting-started" class="btn">Get Started</a>
  <a href="/event-flow" class="btn">Event Flow</a>
  <a href="/data-flow" class="btn">Data Flow</a>
  <a href="/control-flow" class="btn">Control Flow</a>
  <a href="/docs" class="btn">Documentation</a>
</nav>
<pre><code>
<?js= this.htmlsafe(JSON.stringify(env, null, '  ')) ?>
</code></pre>
